In [312]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [313]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [314]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [366]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_month = dt.date(2017, 6, 30) - dt.timedelta(days=30)
results_june = session.query(Measurement.tobs).filter(extract('month',Measurement.date)== 6)

In [367]:
#  3. Convert the June temperatures to a list.
session.query(Measurement.tobs, func.count(Measurement.tobs)).\
group_by(Measurement.tobs).order_by(func.count(Measurement.tobs).filter(extract('month',Measurement.date)== 6).desc()).all()

[(76.0, 1625),
 (78.0, 1159),
 (77.0, 1375),
 (75.0, 1601),
 (74.0, 1752),
 (72.0, 1606),
 (73.0, 1654),
 (79.0, 785),
 (71.0, 1425),
 (70.0, 1257),
 (80.0, 614),
 (69.0, 1103),
 (81.0, 381),
 (68.0, 739),
 (67.0, 603),
 (82.0, 169),
 (66.0, 440),
 (65.0, 355),
 (84.0, 36),
 (83.0, 81),
 (85.0, 11),
 (64.0, 240),
 (87.0, 4),
 (86.0, 4),
 (63.0, 186),
 (62.0, 135),
 (61.0, 77),
 (60.0, 49),
 (59.0, 20),
 (58.0, 31),
 (57.0, 18),
 (56.0, 12),
 (55.0, 1),
 (54.0, 1),
 (53.0, 1)]

In [368]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(results_june, columns=['June Temps'])

In [369]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [349]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_month = dt.date(2018, 12, 31) - dt.timedelta(days=31)
results_dec = session.query(Measurement.tobs).filter(extract('month',Measurement.date)== 12)

In [356]:
# 7. Convert the December temperatures to a list.
session.query(Measurement.tobs, func.count(Measurement.tobs)).\
group_by(Measurement.tobs).order_by(func.count(Measurement.tobs).filter(extract('month',Measurement.date)== 12).desc()).all()

[(71.0, 1425),
 (72.0, 1606),
 (70.0, 1257),
 (73.0, 1654),
 (69.0, 1103),
 (74.0, 1752),
 (68.0, 739),
 (75.0, 1601),
 (76.0, 1625),
 (67.0, 603),
 (66.0, 440),
 (65.0, 355),
 (77.0, 1375),
 (78.0, 1159),
 (64.0, 240),
 (63.0, 186),
 (62.0, 135),
 (79.0, 785),
 (61.0, 77),
 (80.0, 614),
 (60.0, 49),
 (81.0, 381),
 (57.0, 18),
 (56.0, 12),
 (83.0, 81),
 (82.0, 169),
 (59.0, 20),
 (58.0, 31),
 (87.0, 4),
 (86.0, 4),
 (85.0, 11),
 (84.0, 36),
 (55.0, 1),
 (54.0, 1),
 (53.0, 1)]

In [357]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp_df = pd.DataFrame(results_dec, columns=['Dec Temps'])

In [358]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp_df.describe()

         Dec Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000